
<nav class="navbar navbar-expand-md navbar-dark fixed-top mx-0">
  <div class="container">
    <a class="navbar-brand" routerLink=""><img class="navbar-logo" src="assets/logo_lunacity.png" height="80px">
      LUNACITY</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item p-2">
          <a class="nav-link nav-link-after" routerLinkActive="active" routerLink="home">PROGRAM</a>
        </li>
        <li class="nav-item p-2">
          <a class="nav-link nav-link-after" routerLinkActive="active" routerLink="news">NOVINKY</a>
        </li>
        <li class="nav-item p-2">
          <a class="nav-link nav-link-after" routerLinkActive="active" routerLink="blog">BLOG</a>
        </li>
        <li class="nav-item p-2">
          <a class="nav-link nav-link-after" routerLinkActive="active" routerLink="contact">KONTAKT</a>
        </li>
      </ul>

<!--      <ng-container *ngIf="user$ | async as user; else loginTemplate">-->
<!--        <span class="navbar-text">{{user.name}}</span>-->
<!--        <button class="ms-2 btn btn-outline-danger" type="button" (click)="logout()">Logout</button>-->
<!--      </ng-container>-->


<!--      <ng-template #loginTemplate>-->
<!--        <a class="btn btn-success" routerLink="login">Login</a>-->
<!--      </ng-template>-->


    </div>
  </div>
</nav>

<div class="container router">
  <router-outlet></router-outlet>
</div>


